---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import IconArrowLeft from "@/assets/icons/IconArrowLeft.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import LinkButton from "./LinkButton.astro";
import { withTrailingSlash } from "@/utils/withTrailingSlash";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
const prevUrl = page.url.prev ? withTrailingSlash(page.url.prev) : undefined;
const nextUrl = page.url.next ? withTrailingSlash(page.url.next) : undefined;
---

{
  page.lastPage > 1 && (
    <nav class="mt-auto mb-8 flex justify-center" aria-label="Pagination">
      <LinkButton
        disabled={!prevUrl}
        href={prevUrl as string}
        class:list={["me-4 select-none", { "opacity-50": !prevUrl }]}
        ariaLabel="Previous"
      >
        <IconArrowLeft class="inline-block rtl:rotate-180" />
        Prev
      </LinkButton>
      {page.currentPage} / {page.lastPage}
      <LinkButton
        disabled={!nextUrl}
        href={nextUrl as string}
        class:list={["ms-4 select-none", { "opacity-50": !nextUrl }]}
        ariaLabel="Next"
      >
        Next
        <IconArrowRight class="inline-block rtl:rotate-180" />
      </LinkButton>
    </nav>
  )
}
